<li class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="#">Angular Router</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownExtras" role="button" data-toggle="dropdown"
           routerLink="/extras-center/show">Extras</a>
        <ul class="dropdown-menu">
          <li *ngFor="let childRoute of extras;">
            <a class="dropdown-item" (click)=doNavigate(childRoute.path)>{{childRoute.path}}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownSettings" role="button" data-toggle="dropdown"
           routerLink="/settings-center/show">Settings</a>
        <ul class="dropdown-menu">
          <li *ngFor="let childRoute of children;">
            <a class="dropdown-item" (click)=doNavigate(childRoute.path)>{{childRoute.path}}</a>
          </li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="/course-center/show">Courses</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/lessons-center/show">Lessons</a></li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</li>
